#world {
    position: relative;
    border: 1px solid #000000;
    user-select: none;
    -webkit-user-select: none;
}

.room {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

#inventory {
    width: 480px;
    height: 99px;
    position: absolute;
    display: flex;
    left: 900px;
    z-index: 2;
    justify-content: left;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1px;
    padding-left: 20px;

    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

#inventory::-webkit-scrollbar {
    height: 10px;
}

#inventory::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
    display: none;
}

#inventory::-webkit-scrollbar-track {
    background: #4365af;
    border-radius: 2px;
}

#inventory img {
    display: inline-block;
    padding: 4px;
}

#freeze {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 25;
    user-select: none;
    -webkit-user-select: none;
}

#screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: url('imgs/mouse.png'), auto;
}

body {
    padding: 0;
    margin: 0;

}

#textBox {
    display: none;
    width: 906px;
    height: 156px;
    position: absolute;
    transform: translate(-50%, -50%);
    user-select: none;
    -webkit-user-select: none;
    z-index: 10;
}

#textBox img {
    position: absolute;
    -webkit-user-drag: none;
}

#textBoxText {
    position: absolute;
    padding: 20px 100px 20px 20px;
    font-size: 20px;
    z-index: 10;

}

#textBoxConfirm {
    display: none;
    left: 80%;
    top: 60%;
    position: absolute;
    font-size: 20px;
    z-index: 10;
}

#textBoxConfirmYes {
    display: inline-block;
    padding: 0 20px 0 20px;
}

#textBoxConfirmYes:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(141, 142, 212);
}

#textBoxConfirmNo {
    display: inline-block;
    padding: 0 20px 0 20px;
}

#textBoxConfirmNo:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(141, 142, 212);
}

#zoom {
    width: 100%;
    height: 100%;
    z-index: 15;
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;

}

#zoomContainer {
    z-index: 15;
    display: inline-block;
    position: relative;
}

#zoomImg {
    display: block;
    user-select: none;
    -webkit-user-select: none;
    z-index: 16;
}

#diaryText {
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 17;
    position: absolute;
    padding: 60px;
    font-size: 29px;
    font-family: 'handwriting', serif;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

#diaryText::-webkit-scrollbar {
    height: 10px;
}

#diaryText::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
    display: none;
}

#diaryText::-webkit-scrollbar-track {
    background: #4365af;
    border-radius: 2px;
}

.puzzle {
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 17;
    position: absolute;
    padding: 60px;
    display: none;
    z-index: 16;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.puzzle input {
    display: inline;
    width: 70px;
    font-size: 25px;
    font-family: inherit;
    border: 1px solid #000000;
    padding: 2px 4px;
    user-select: none;
    -webkit-user-select: none;
}

#input4 {
    width: 250px;
}

.puzzle input:disabled {
    background-color: #d0e1ff;
    user-select: none;
    pointer-events: none;
    cursor: default;
}




@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

#arrow {
    position: absolute;
    left: 850px;
    top: 35px;
    animation: upDown 1.2s ease-in-out infinite;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(38, 41, 95);
}

@font-face {
    font-family: 'handwriting';
    src: url('fonts/handwritingFont.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}