#world {
    position: relative;
    border: 1px solid #000000;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    width: 1400px;
    height: 788px;
}


#screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

#homeScreen {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

body {
    padding: 0;
    margin: 0;

}

p {
    position: absolute;
    top: 394px;
    left: 700px;
    text-align: center;
    transform: translate(-50%, -50%);
}

#title {
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

#play {
    position: absolute;
    left: 700px;
    top: 550px;
    transform: translate(-50%, -50%);
    -webkit-user-drag: none;
    z-index: 11;

}

#play:hover {
    top: 546px;
}

.flyOut {
    animation: flyOut 0.9s ease-in-out forwards;
}

.flyIn {
    animation: flyIn 1.5s ease-in-out forwards;
}

@keyframes flyOut {
    100% {
        top: -788px;
        display: "none";
    }
}

@keyframes flyIn {
    100% {
        left: 0;
    }
}

#doors {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -1400px;
    top: 0;
}

#door2 {
    position: absolute;
    top: 461px;
    left: 967px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    transform: translate(-50%, -50%);

}

#door1 {
    position: absolute;
    top: 461px;
    left: 417px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    transform: translate(-50%, -50%);
}

#overlayLeft {
    position: absolute;
    top: 788px;
    left: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    z-index: 3;
    transform: translate(0%, -100%);
}

#overlayRight {
    position: absolute;
    top: 788px;
    left: 1400px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    z-index: 3;
    transform: translate(-100%, -100%);
}