#world {
    position: relative;
    border: 1px solid #000000;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    width: 1400px;
    height: 788px;
}


#screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

#homeScreen {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

body {
    padding: 0;
    margin: 0;

}

p {
    position: absolute;
    top: 394px;
    left: 700px;
    text-align: center;
    transform: translate(-50%, -50%);
}

#title {
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

#play {
    position: absolute;
    left: 700px;
    top: 550px;
    transform: translate(-50%, -50%);
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;

}

#play:hover {
    top: 546px;
}

.flyUp {
    animation: flyUp 0.9s ease-in-out forwards;
}

@keyframes flyUp {
    100% {
        top: -788px;
        display: "none";
    }
}